# Symfony directories
web/bundles/
app/bootstrap.php.cache
*/logs/*
*/cache/*
build/
vendor
vendor/*
composer.phar
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/config.yml

